@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.eot');
    src: url('../fonts/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Bold.woff') format('woff'),
        url('../fonts/LibreFranklin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans.eot');
    src: url('../fonts/TenorSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TenorSans.woff2') format('woff2'),
        url('../fonts/TenorSans.woff') format('woff'),
        url('../fonts/TenorSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif 4 18pt';
    src: url('../fonts/SourceSerif418pt-Regular.eot');
    src: url('../fonts/SourceSerif418pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSerif418pt-Regular.woff2') format('woff2'),
        url('../fonts/SourceSerif418pt-Regular.woff') format('woff'),
        url('../fonts/SourceSerif418pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Regular.eot');
    src: url('../fonts/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Regular.woff') format('woff'),
        url('../fonts/LibreFranklin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

