*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin';
}
a{
  text-decoration: none;
}
button{
  text-decoration: none;
  direction: inherit;
}
footer{
  background-color: black;
}